.piller {
  display: inline-block;
  border: 1px solid #dddddd;
  position: relative;
  box-sizing: border-box;
}

.piller-textarea,
.piller-decorator {
  display: block;
  width: 100%;
  min-height: 80px;
  padding: 10px;
  overflow: hidden;
  border-radius: inherit;
  box-sizing: border-box;
  font-family: initial;
  font-size: initial;
  font-weight: initial;
}

.piller-textarea {
  position: relative;
  border: none;
  z-index: 0;
  resize: none;
}

.piller-decorator {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
  pointer-events: none;
  z-index: 1;
  color: transparent;
}

.piller-pill {
  box-sizing: border-box;
  user-select: none;
  border-radius: 3px;
  background: #e0f1ec;
  box-shadow: 0px 0px 0px 1px #e0f1ec;
  white-space: pre-wrap;
  pointer-events: all;
  cursor: pointer;
  color: initial;

  &:focus {
    box-shadow: 0px 0px 0px 1px #67bbaa;
  }
}